*{
    margin: 0;
    font-family: Arial;
    border: border-box;
   
}
.navbar{
    height: 60px;
    background-color: #694F8E;
    color: white;
    display: flex;
  align-items: center;
    justify-content: space-evenly;
   
}
.nav-logo{
    height: 50px;
    width: 100px;  
}  
.logo {
    background-image:url("vibe&\ flow..png") ;
    background-size: cover;
    height: 80px;
    width: 100%;
   
}
.border{
    border: 3px solid transparent;
    
}
.border:hover{
    border: 3px solid white;
    
}

.add-first{
color: #CCCCCC;
font-size: 0.85rem;
margin-left: 15px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
 }



/** box3 **/
.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color: pink;
    width:620px;
    height: 40px;
    border-radius: 5px;
}

.search-select{
    background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none; 
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #FFDFD6;
    border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #0f1111;
}

.nav-search:hover{
    border: 2px solid orange;
}

/**box4**/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/**box6**/
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.90rem;
    font-weight: 700;
}

/**panel**/

.panel{
    height: 40px;
    background-color: #B692C2;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
display: inline;
margin-left: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/**hero-section**/
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 60vh; */
    width: 100%;
}
.hero-section img{
}

.hero-msg{
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 95%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
}

/**shop section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #48a996;
 
}

.box{
  
height: 400px;
width: 24%;
background-color: white;
padding: 20px 0px 15px;
margin-top: 5px;
border: none;
}

.box-img{
    height: 350px;
    background-image: url("brush.jpg");
    background-size: cover;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color:#007185 ;
}

.box-army{
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.box-god{
    height: 350px;
}

.box-god{
    height: 350px;
    background-image: url("gamers.jpg");
    background-size: cover;

}

.box-word{
    height: 350px;
    background-image: url("pcama.jpg");
    background-size: cover;
   
}
